:root {
	--board-background: #1b1b1b;
	--border-color: #12ffdb;
	--border-thickness: 10px;
}

.board {
	width: 40vw;
	height: 60%;
	background-color: var(--board-background);
	display: flex;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	border: var(--border-thickness) solid var(--border-color);
	border-radius: 15px;
	box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}

.input {
	height: 30%;
	width: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #f7f7f7;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 8rem;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.input-1 {
	border-right: var(--border-thickness) dashed var(--border-color);
	border-bottom: var(--border-thickness) dashed var(--border-color);
	background-color: #2a2a2a;
}

.input-2 {
	border-right: var(--border-thickness) dashed var(--border-color);
	border-bottom: var(--border-thickness) dashed var(--border-color);
	background-color: #2a2a2a;
}

.input-3 {
	border-bottom: var(--border-thickness) dashed var(--border-color);
	background-color: #333333;
}

.input-4 {
	border-right: var(--border-thickness) dashed var(--border-color);
	border-bottom: var(--border-thickness) dashed var(--border-color);
	background-color: #2a2a2a;
}

.input-5 {
	border-right: var(--border-thickness) dashed var(--border-color);
	border-bottom: var(--border-thickness) dashed var(--border-color);
	background-color: #2a2a2a;
}

.input-6 {
	border-bottom: var(--border-thickness) dashed var(--border-color);
	background-color: #333333;
}

.input-7 {
	border-right: var(--border-thickness) dashed var(--border-color);
	background-color: #2a2a2a;
}

.input-8 {
	border-right: var(--border-thickness) dashed var(--border-color);
	background-color: #2a2a2a;
}
.input-9 {
	
	background-color: #333333;
}
